@import '../../node_modules/bootstrap/scss/bootstrap.scss';
body{
    font-family: 'Kalnia', serif;
    background-color:white
}
.pinki{
    background-color:#f48200;

}
.navbar-brand{
    font-size: 3em;
}
.cardHome{
    height:40rem;
}